---
title: bass
---

<div class="container mx-auto px-4">
    <h1 class="font-bold text-primary text-4xl mb-16 mt-10">Bio-Aquifer Storm System - Permeable Pavement Applications</h1>
    <img src="../assets/images/basspgimg.jpg" alt="BASS Image" srcset="" class=" w-full lg:w-1/2 mx-auto">
    <p class="text-gray-800 font-medium leading-relaxed text-2xl mt-6">
        LPS is North America’s largest installer of permeable ecological paver systems.
        <br> <br>
        <span class="text-primary">The problem:</span>&nbsp;Urban development may symbolize progress and prosperity, but it also promotes excessive storm water runoff that contributes pollution tour environment. As developers work on new building and expansion projects, they often find that their sites areas subject to the latest federal regulations under the Clean Water Act targeted to reduce non-point source pollution. When storm water or melting snow runs over impervious surfaces, it becomes a form of non-point source pollution with the potential to damage 
        local water quality and harm aquatic life in streams that flow through urban areas.
        <br> <br>
        Given these regulations, owners and developers are faced with a tough decision. 
        Obviously, they must comply with the regulatory requirements for storm water 
        management. But compliance frequently meads using precious real estate to build 
        a retention pond – and taking a bite out of the bottom line. It’s a complex problem, 
        and a solution to meet both the environmental and the business needs of the developer
         simply didn’t exist. Until now.
         <br> <br>
        <snan class="text-primary">The Solution:</snan>&nbsp;The Bio-Aquifer Storm System (BASS) is the perfect solution to support storm water 
        management and business growth. BASS allows for natural storm water drainage and 
        groundwater recharge, making it ecologically sound and economically smart.
        <br> <br>
        Ecologically Sound
        <br> <br>
        A parking lot, sidewalk or street created with BASS uses permeable components that 
        allow water to flow through, retaining water runoff and directing it through a series 
        of natural filtration systems before it enters nearby streams or rivers. In fact, the 
        BASS method is an acceptable structural Best Management Practice (BMP) used to meet the 
        federal storm water management requirements. By using BASS to comply with these 
        regulations, owners and developers are eliminating the need for space-wasting retention 
        ponds and gaining these environmental benefits:
        <br> <br>
        Superior control of short-duration storm water runoff (to near 100%)
        Reduced downstream flows and minimized potential for bank erosion
        Critical improvement of water quality using natural filtration methodology
        Valuable cooling effect during first runoff capture
        Flexible capacity for detaining water under road or parking surface
        <br> <br>
        Economically Smart
        <br> <br>
        By reclaiming the land slated for retention ponds, owners and developers using BASS 
        can make more efficient use of their real estate. Plus, the BASS method simply 
        produces a superior pavement surface, and the efficient mechanical installation of 
        the system decreases the total man-hours required to complete the job. Pavement 
        constructed using BASS outperforms other systems in harsh climates with freeze/thaw 
        cycles. In addition, the system and its components deliver maximum strength to handle 
        heavy vehicular traffic. Combining all of these factors, projects using BASS 
        consistently show outstanding results on a 30-year life-cycle cost analysis. 
        Add in its remarkable curb appeal and convenient maintenance access, and BASS 
        clearly provides a strong investment value with solid business benefits:
        <br> <br>
        Enhanced land planning through the potential elimination of required retention/detention ponds
        Significant savings by reducing or eliminating conventional storm sewers and catch basins
        Reduced maintenance costs for pavement repair, sealing and replacement
        Minimized storm water hook-up fees
        Decreased liability to owners through the elimination of open wet areas
    </p>
</div>

<script src="../js/layout.js"></script>