---
title: century
---

<div class="container mx-auto px-4">
    <h1 class="font-bold text-primary text-4xl mb-24 mt-10">Century System - Sand Setting Bed Applications</h1>

    <p class="text-gray-800 font-medium leading-relaxed text-2xl mt-6">
    Complement the architecture of your buildings with the timeless, European look of 
    concrete paving stones installed with the spectacular Century System from LPS Pavement
     Company.
     <br> <br>
    This flexible paving system consists of superior-quality concrete pavers, 
    a sand-setting bed, a crushed-stone base and/or concrete subbase. The many benefits
     provided by this popular system make it a first choice for commercial or industrial 
     applications including roadways, plazas, decks, bus stops, showroom floors, shopping 
     malls, crosswalks, cycle paths, traffic islands and more - anyplace where a hard surface
      is desired.
      <br> <br>
    Perfect where frost conditions or unstable soil conditions require a paving surface 
    that will outperform all the other options, the Century System gives your project the 
    durability you need, plus the aesthetic qualities you want. And LPS Pavement Company 
    offers it at an economical cost.
    <br> <br>
    Many advantages of the Century System are made possible because of the in the incredible
     advances in concrete technology. With this system, you enjoy the inherent benefits of 
     concrete paving stones.
     <br> <br>
    Overall economy is undoubtedly a prime benefit. Concrete paving stones are a phenomenal 
    long-term investment. They require far less maintenance than any other paving surface - 
    you save money by eliminating costly patching and resurfacing. You can avoid continual 
    painting of parking space lines and directional signs by creating the patterns with the 
    design of the stones. And concrete paving stones are reusable - They can be removed for 
    access to underground utilities and reinstalled after repairs are completed.
    <br> <br>
    In addition, concrete paving stones have a compression strength in excess of 7500 psi, 
    providing greater durability and extended product life. Even in heavy industrial uses 
    they withstand tremendous point loading with no problems.
    <br> <br>
    Concrete paving stones are also extremely dense, so the absorption level is always less 
    than 5% - much lower than asphalt and poured-in-place concrete. That means their 
    resistance to oil and salt is tremendous. They respond flexibly to seasonal ground 
    swelling and frost heave, and they can be installed to minimize costly construction 
    delays.
    <br> <br>
    Besides the practical advantages of concrete paving stones, the design possibilities are 
    endless. The variety of shapes, colors and sizes provide for an expression of 
    individuality to blend with any building or architectural style. The economical, 
    durable and aesthetic qualities of concrete paving stones provide the evidence that 
    has made them the market leader for LPS Pavement Company.
    <br> <br>
    Another outstanding asset of the Century System involves its option for methods of 
    installation - a distinct advantage for certain projects in terms of time and money. 
    The Century System is typically installed manually, one paver at a time. But certain 
    applications (as determined by the contractor) allow for use of a hydraulically operated 
    clamp driven by a machine that installs the pavers much more rapidly and with less 
    manpower.
    <br> <br>
    While the mechanical installation places a few limitations on the process, such as color,
     shape and selection, the labor savings can involve a cost reduction up to 60%. Only the 
     Century System from LPS Pavement Company offers the option of mechanical installation - 
     an economical way to pave, making concrete paving stones immediately competitive with 
     poured-in-place concrete.
     <br> <br>
    As the industry leader, LPS Pavement Company actually introduced mechanical installation 
    to the United States, borrowing the technology from the German paving industry. And that's 
    just one example of the way LPS Pavement Company is constantly working with the highest 
    quality paving system for the lowest possible price. As further evidence of this 
    innovative spirit combined with a cost-efficient attitude, LPS Pavement Company offers 
    you the Century System.
    </p>

    <h2 class="text-3xl font-semibold mt-8">Standard Installation:</h2>
    <img src="../assets/images/century-standard.jpg" alt="Manhatten Image" class=" my-2 w-full">
    <h2 class="text-3xl font-semibold">Existing Pavement Installation:</h2>
    <img src="../assets/images/century-existing.jpg" alt="Second Manhatten Image" class=" my-2 w-full">
</div>

<script src="../js/layout.js"></script>