---
title: Manhatten System - LPS Pavement Company
---

<div class="container mx-auto px-4">
    <h1 class="font-bold text-primary text-4xl mb-24 mt-10">Manhatten System - Bituminous Setting Bed Applications</h1>
    
    <p class="text-gray-800 font-medium leading-relaxed text-2xl mt-6">
        For a paving system that requires clay or granite pavers, LPS Pavement Company presents the Manhatten System. With the flexibility to integrate clay and granite with concrete and slabs, the Manhatten System can stand up to the most severe traffic, but still offers you the maximum design versatility.
<br> <br>
This rigid bituminous system offers you its assurance that settling will not occur in the gravel subgrade. The pavers are rigidly fastened to the setting bed with a special paving adhesive which is placed over a concrete mud slab - your guarantee that the beauty of your paved surface will be long-lasting and extremely durable.
<br> <br>
The incredible strength and infinite versatility of this system make it a popular choice for pedestrian walks, heavy traffic, parking areas, malls, plazas and roof decks. The Manhatten System is also cost-effective. Because it does not require grouted joints, maintenance charges are eliminated - You never have to repair mortar that might eventually crumble or deteriorate.
<br> <br>
While concrete pavers can be used in every system offered by LPS Pavement Company, only the Manhatten System allows for you to add the brilliant colors and textures of clay and other pavers to your wide design selection.
<br> <br>
While restricted from the other systems by their irregularity in shape, clay and other pavers are successfully used in the Manhatten System since they are bonded to the base. That means you get the most design flexibility you could ever imagine!
<br> <br>
With the Manhatten System, you can literally choose from any size, style, color or stone for your installation project. The possibilities are endless, making it quite simple to complement your own building style with a paving design that is completely unique.
<br> <br>
From traditional to contemporary projects, the Manhatten System is a versatile paving tool to create an elegant look with all the strength you'll ever need. Give your buildings a firm foundation with the paving innovations from LPS Pavement Company.
    </p>

    <h2 class="text-3xl font-semibold mt-8">Pedestrian area on grade:</h2>
    <img src="../assets/images/manhattan-pedarea.jpg" alt="Manhatten Image" class=" my-2 w-full">
    <h2 class="text-3xl font-semibold">Promenade roof deck:</h2>
    <img src="../assets/images/manhattan-promenade.jpg" alt="Second Manhatten Image" class=" my-2 w-full">
</div>

<script src="../js/layout.js"></script>