---
title: pheonix
---

<div class="container mx-auto px-4">
    <h1 class="font-bold text-primary text-4xl mb-24 mt-10">Phoenix System - Pedestal Set Applications</h1>

    <p class="text-gray-800 font-medium leading-relaxed text-2xl mt-6">
        Take advantage of your usable space! With the Phoenix system from LPS Pavement Company, you can add an elegant rooftop deck and expand the limits of your property value. LPS Pavement Company presents the Phoenix System as the perfect option to create an attractive outdoor environment that doubles as a smart business investment.
<br> <br>
A rigid pedestal format topped with concrete or granite slabs, the Phoenix System has been successfully incorporated into many types of applications including rooftop decks, courtyards and terraces for commercial, industrial and residential developments.
<br> <br>
The Phoenix System offers you the ability to create a variety of visual effects. Using the elegant Holland shapes with a variety of textures is particularly popular with the Phoenix System. Custom coloring and texturing are also available. Plus all the textures have a special non-slip property making them appropriate for pedestrian traffic. The flexibility in design allows you to create a stunning plaza area from what was once nonfunctional space.
<br> <br>
Besides being visually appealing, the Phoenix System will actually protect your roof surface against the elements while holding insulation in place. The system offers you the many benefits of concrete paving stones; it is durable and strong, resisting salt, frost and oil better then any other paving surface. The support pedestals are also a successful way of providing under-surface drainage.
<br> <br>
In terms of economy, the Phoenix System is a tremendous investment and an outstanding value. The Phoenix system will provide a level, uniform surface that is virtually maintenance-free.
<br> <br>
The system is easily installed and can be quickly removed for building maintenance crews-much less costly than repairs to a monolithic system. And you'll never have anything to replace. The materials can always be reused, making the Phoenix System a cost-efficient alternative to other paving surfaces…a quality you'll find when you select any system from the innovative professionals at LPS Pavement Company.
<br> <br>
For municipal or urban projects, the Phoenix System from LPS Pavement Company is the perfect way to use an additional surface and create a useful space. An attractive option from the industry leaders.
    </p>

    <h2 class="text-3xl font-semibold mt-8">Phoenix pavers on pedestals:</h2>
    <img src="../assets/images/phoenix-pedestals.jpg" alt="Manhatten Image" class=" my-2 w-full">
</div>

<script src="../js/layout.js"></script>