---
title: Applications and Specifications - LPS Pavement Company
---

<div class="container mx-auto px-4">
    <h1 class="font-bold text-primary text-4xl mb-24 mt-10">Applications & Specifications</h1>

    <div class="system mt-16">
        <img src="../assets/images/asd1.png" class=" w-full" alt="Demo 1" srcset="">
        <a href="/bass/">
            <h2 class="text-3xl font-semibold text-primary mt-4">Bio-Aquifer Storm System (BASS) - Permeable Pavement Applications & Specifications</h2>
        </a>
        <p class=" leading-loose mt-4">
            A parking lot, sidewalk or street created with BASS uses permeable components that allow water to flow through, retaining water runoff and directing it through 
            a series of natural filtration systems before it enters nearby streams or rivers.
            <span class=" text-primary font-medium"><a href="/bass/">Read more...</a></span>
        </p>
    </div>

    <div class="system mt-16">
        <img src="../assets/images/asd2.png" class=" w-full" alt="Demo 2" srcset="">
        <a href="/century/">
            <h2 class="text-3xl font-semibold text-primary mt-4">Century System: Sand Setting Bed Applications & Specifications</h2>
        </a>
        <p class=" leading-loose mt-4">
            Complement the architecture of your buildings with the timeless, European look of concrete paving stones installed with the spectacular Century System from LPS Pavement Company.This flexible paving system consists of superior-quality concrete pavers, a sand-setting bed, a crushed-stone base and/or concrete subbase.
            <span class=" text-primary font-medium"><a href="/century/">Read more...</a></span>
        </p>
    </div>

    <div class="system mt-16">
        <img src="../assets/images/asd3.png" class=" w-full" alt="Demo 3" srcset="">
        <a href="/phoenix/">
            <h2 class="text-3xl font-semibold text-primary mt-4">Phoenix System: Pedestal Set Applications & Specifications</h2>
        </a>
        <p class=" leading-loose mt-4">
            A rigid pedestal format topped with concrete or granite slabs, the Phoenix System has been successfully incorporated into many types of applications including rooftop decks, courtyards and terraces for commercial, industrial and residential developments.
            <span class=" text-primary font-medium"><a href="/phoenix/">Read more...</a></span>
        </p>
    </div>

    <div class="system mt-16">
        <img src="../assets/images/asd4.png" class=" w-full" alt="Demo 4" srcset="">
        <a href="/manhatten/">
            <h2 class="text-3xl font-semibold text-primary mt-4">	
                Manhatten System: Bituminous Setting Bed Applications & Specifications</h2>
        </a>
        <p class=" leading-loose mt-4">
            For a paving system that requires clay or granite pavers, LPS Pavement Company presents the Manhatten System. With the flexibility to integrate clay and granite with concrete and slabs, the Manhatten System can stand up to the most severe traffic, but still offers you the maximum design versatility.
            <span class=" text-primary font-medium"><a href="/manhatten/">Read more...</a></span>
        </p>
    </div>
</div>

<script src="../js/layout.js"></script>