---
title: Testimonials - LPS Pavement Company
---

<div class="container mx-auto px-4">
    <h1 class="font-bold text-primary text-4xl mb-24 mt-10">Testimonials</h1>

    <div class="test-group">
        <div class="imagecont flex justify-center mb-4">
            <img src="../assets/images/dut.jpg" alt="Dominican University Logo" srcset="" class=" w-6/12">
        </div>
        <p>
            <span class=" font-semibold text-lg">Dominican University</span> <br>
            <span class="text-lg">Dan Bulow, Director of Buildings & Grounds</span> <br> <br>

            <span class=" leading-loose text-2xl">"The installation process went very smoothly and didn't interrupt the flow of 
                work here at the University. They're one of the only companies that could do a job
                of this size and do it professionally."</span>
        </p>
    </div>

    <div class="test-group mt-16">
        <div class="imagecont flex justify-center mb-4">
            <img src="../assets/images/mat.jpg" alt="Dominican University Logo" srcset="" class=" w-6/12">
        </div>
        <p>
            <span class=" font-semibold text-lg">Martam Construction, Inc.</span> <br>
            <span class="text-lg">Mark Hughes, Project Manager</span> <br> <br>

            <span class=" leading-loose text-2xl">"One of the things I really like about LPS is that they're very flexible. Their crews seem to really accommodate our work crews. It's nice to have a contractor you can rely on that works closely with you."</span>
        </p>
    </div>

    <div class="test-group mt-16">
        <div class="imagecont flex justify-center mb-4">
            <img src="../assets/images/mct.jpg" alt="Dominican University Logo" srcset="" class=" w-6/12">
        </div>
        <p>
            <span class=" font-semibold text-lg">McHugh Construction</span> <br>
            <span class="text-lg">Michael C. Gould, Millennium Park Project Executive</span> <br> <br>

            <span class=" leading-loose text-2xl">"LPS is very capable, very competent, and reasonable to work with. They were instrumental in the success of the final phase of this project."</span>
        </p>
    </div>

    <div class="test-group mt-16">
        <div class="imagecont flex justify-center mb-4">
            <img src="../assets/images/mit.jpg" alt="Dominican University Logo" srcset="" class=" w-6/12">
        </div>
        <p>
            <span class=" font-semibold text-lg">MIC Construction</span> <br>
            <span class="text-lg">Dennis Kintop, President</span> <br> <br>

            <span class=" leading-loose text-2xl">"The quality of the work far exceeds that of anyone else who does pavers. It's the only company I like to use."</span>
        </p>
    </div>

    <div class="test-group mt-16">
        <div class="imagecont flex justify-center mb-4">
            <img src="../assets/images/cnt.gif" alt="Dominican University Logo" srcset="" class=" w-6/12">
        </div>
        <p>
            <span class=" font-semibold text-lg">City of Naperville</span> <br>
            <span class="text-lg">Mark Johnson, Field Supervisor - Downtown Business District</span> <br> <br>

            <span class=" leading-loose text-2xl">"The job is always done in a first-class, professional manner and the results are top-notch. I'm always happy to do business with LPS."</span>
        </p>
    </div>

    <div class="test-group mt-16">
        <div class="imagecont flex justify-center mb-4">
            <img src="../assets/images/pct.gif" alt="Dominican University Logo" srcset="" class=" w-6/12">
        </div>
        <p>
            <span class=" font-semibold text-lg">Pepper Construction</span> <br>
            <span class="text-lg">Richard Mueller, Project Vice President</span> <br> <br>

            <span class=" leading-loose text-2xl">"I'd have no qualms in recommending LPS. They've done great work in the past and I'd have no doubt they'd do a fine job in the future."</span>
        </p>
    </div>

    <div class="test-group mt-16">
        <div class="imagecont flex justify-center mb-4">
            <img src="../assets/images/wt.jpg" alt="Dominican University Logo" srcset="" class=" w-6/12">
        </div>
        <p>
            <span class=" font-semibold text-lg">Wausau Tile</span> <br>
            <span class="text-lg">Doug Hahn, Manufacturer Representative</span> <br> <br>

            <span class=" leading-loose text-2xl">"Because of LPS's extensive knowledge, experience, and professionalism, I confidentially refer them and seek their consultation when I run into situations beyond my expertise."</span>
        </p>
    </div>

</div>

<script src="../js/layout.js"></script>